@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@mixin res($size) {
    @if $size == sm {
        @media  (min-width: 640px) { @content; }
    } @else if $size == md{
        @media  (min-width: 768px) { @content; }
    } @else if $size == lg{
        @media  (min-width: 1024px) { @content; }
    } @else if $size == xl{
        @media  (min-width: 1280px) { @content; }
    } @else if $size == 2xl{
        @media  (min-width: 1536px) { @content; }
    }
}
$color: #d4ffdd;
$color-secundario: #55917F;
$color-texto-primario : #353535;
$color-texto-secundario: #636363;
// $text_color_theme: white;
// * { 
//     -moz-box-sizing: border-box; 
//     -webkit-box-sizing: border-box; 
//     box-sizing: border-box; 
// }
body{
    overflow-x: hidden;
}
#nav{
    &.active{
        color: $color-texto-primario;
        background-color: #43424231;
        backdrop-filter: blur(2px);
        font-weight: bolder;
    }
    z-index: 99999;
    margin: 0;
    padding: 1px;
    padding-top: 0px;
    height:5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color:$color-texto-primario;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    // background-color: #55917f8a;
    list-style: none;
    
    li{
        a{
            text-decoration: none;
            color: $color-texto-primario;
        }
        margin: auto 2rem;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bolder;
        font-size: 1.8rem;
        display: none;
        @include res(lg){
            display: block;
        }
    }
    div{
        height: auto;
        text-align: left;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        @include res(lg){
            padding: 0 0.8rem;
            justify-content: flex-start;
            flex-grow: 1;   
        }
        h1 {
            color: $color-texto-primario;
            font-family: 'Londrina Solid', cursive;
            // font-weight: 900;
            font-size:2rem;
            margin: 0 1rem;
            letter-spacing: 3px;
            // border: 1px solid white;
            border-radius: 2px;
            padding: 0 0.5rem;
            // text-transform: uppercase;
            @include res(lg){
                font-size:3rem;
            }
            // @include res(xl){
            //     color: white;
            // }
        }
        img{
            height: 4rem;
            width: 4rem;
            @include res(md){
                height: 6rem;
                width: 6rem;
            }
        }
    }
    svg{
        width: 2rem;
        height: 2rem;
        display: block;
        fill: $color-texto-primario;
        cursor: pointer;
        @include res(lg){
            display: none;
        }
    }
}

#menu_responsive{
    z-index: 999999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include res(lg){
        display: none;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h1{
            color:white;
            font-family: 'Londrina Solid', cursive;
            font-weight: 900;
            font-size:3rem;
        }
        svg{
            margin: 0 0.8rem;
            height: 2rem;
            width: 2rem;
            fill: white;
        }
    }
    a{
        color:white;
        text-decoration: none;
    }
    li{
        list-style: none;
        margin: 0.5rem;
        color:white;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bolder;
        font-size: 1.4rem;
    }
}

#jumbotron{
    position: relative;
    // background-image: url('./assets/background.svg');
    // background-position:0% 22%;
    // background-size:cover ;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    @include res(xl){
        justify-content: space-between;
    }
    #fondo_color{
        display:none;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        width: 370px;
        height: 100vh;
        background: #1D976C;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        @include res(xl){
            display: flex;
        }
        a{
            text-decoration:none;
            
        }
        p{
            // color: #1a1a1a;
            margin-bottom:2rem auto;
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: bolder;
            font-size:1rem;
            text-align:center;
            color:$color-texto-primario;
            @include res(sm){
                font-size:1.5rem;
            }
        }
    }
    #jumbotron_derecha{
        background-image: url('./assets/montanas.png');
        background-position:0% 350%;
        background-repeat: no-repeat;
        overflow: hidden;
        margin:0 ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        height: 100vh;
        padding: 2.5rem;
        @include res(xl){
            background-position:0% 480%;
        }
        #carta{
            // background-color: $color;
            // -webkit-box-shadow: 10px 10px 57px 5px rgba(0,0,0,0.75);
            // -moz-box-shadow: 10px 10px 57px 5px rgba(0,0,0,0.75);
            // box-shadow: 10px 10px 57px 5px rgba(0,0,0,0.75);
            padding: 1rem;
            width: 100%;
            // height: 50%;
            border-radius: 5px;
            // border: solid 3px #1B622E;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @include res(md){
                width: 74%;
                padding: 4rem;
            }
            @include res(xl){
                width: 60%;
                // flex-grow: 1;
                // margin:0 6rem 0 0 ;
                padding: 1.5rem;
            }
            #redes{
                position: absolute;
                margin-left: 1rem;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                left:-40px;
                @include res(md){
                    left:-50px;
                }
                @include res(xl){
                    left:-65px;
                    flex-grow: 1;
                }
                svg{
                    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 10% 50%, 0 0);
                    background-color: #45c4caab;
                    // border:3px solid$color-texto-primario;
                    padding:0.2rem;
                    border-radius:3px;
                    height: 50px;
                    width: 60px;
                    fill:$color-texto-primario;
                    margin: 0.5rem 0;
                    
                    
                    @include res(md){
                        clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 20% 50%, 0 0);
                        height: 50px;
                        width: 100px;
                    }
                    @include res(lg){
                        height: 3rem;
                    }
                }
                
            }
            #encabezado{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2{
                    margin:1rem;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-weight: 900;
                    font-size:2rem;
                    text-align:center;
                    color:$color-texto-primario;
                    @include res(sm){
                        font-size:2.5rem;
                    }
                }
                p{
                    font-size: 1.5rem;
                    color:$color-texto-secundario;
                    text-align: justify;
                    font-family: 'Amatic SC', cursive;
                    width: 80%;
                    margin: auto;
                    @include res(sm){
                        font-size:2rem;
                    }
                    
                }
            }
            
        }
        
        #button_nav{
            a{
                outline: none;
            }
            -webkit-box-shadow: 10px 10px 57px 5px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 57px 5px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 57px 5px rgba(0,0,0,0.75);
            width: 4rem;
            height: 4rem;
            margin-top: 30px;
            background: #FF416C;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ad000696, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ad00067b, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            svg{
                height: 2rem;
                width: 2rem;
                fill:white;
            }
        }
        #tecnologias{
            // width: 70vw;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            // position:absolute;
            // left: 0px;
            // right: 0px;
            // bottom: 0px;
            margin:1.5rem auto;
            svg{
                height: 3rem;
                width: 3rem;
                fill: $color-texto-primario;
                @include res(lg){
                    height: 5rem;
                    width: 5rem;
                }
            }
        }
        
    }
    
    img{
        position: absolute;
        display: none;
        width: 800px;
        left: -250px;
        margin: auto 3rem;
        @include res(xl){
            display: block;
        }
    }
}
#about{
    padding:0px 1.8rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include res(sm){
        padding:0px 4rem;
    }
    h1{
        margin: 3rem auto;
        width: 250px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 900;
        font-size:2.4rem;
        text-align:center;
        color:$color-texto-primario;
        position: relative;
        &:after{
            margin: 0px auto;
            width: 200px;
            // margin-top:15px;
            height: 5px;
            content: " ";
            display: inline-block;
            position: absolute;
            bottom: -5px;
            left: 0px;
            right: 0px;
            background-color: #FF416C;
            color: #FF416C;
        }
    }
    #about_content{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        // align-items: center;
        img{
            width: 100%;
            @include res(lg){
                width: 50%;
            }
        }
        div{
            width: 100%;
            @include res(lg){
                width: 50%;
            }
            p{
                
                color:$color-texto-secundario;
                font-size: 1.3rem;
                text-align: justify;
                @include res(lg){
                    line-height: 2.4rem;
                    margin-top: 0px;
                    padding:1rem 2rem;
                }
            }
        }
        
    }
}
#proyectos{
    background-color:#63636310;
    margin-top:5rem;
    padding:1rem 1.8rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include res(sm){
        padding:2rem 4rem;
    }
    & > h1{
        margin: 3rem auto;
        width: 250px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 900;
        font-size:2.4rem;
        text-align:center;
        color:$color-texto-primario;
        position: relative;
        &:after{
            margin: 0px auto;
            width: 200px;
            // margin-top:15px;
            height: 5px;
            content: " ";
            display: inline-block;
            position: absolute;
            bottom: -5px;
            left: 0px;
            right: 0px;
            background-color: #FF416C;
            color: #FF416C;
        }
    }
    & > div{
        width: 90%;
        background-color: #3535351e;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @include res(lg){
            width: 80%;
        }
        .proyecto{
            margin: 1rem;
            height: 400px;
            display: flex;
            width: 100%;
            overflow: hidden;
            position: relative;
            @include res(md){
                width: 29%;
            }
            img{
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:hover > div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color:#35353591;
                backdrop-filter: blur(5px);
                color: white;
                padding: 1rem;
                position: absolute;
                h1{
                    text-align: center;
                }
                p{
                    text-align: justify;
                }
                a{
                    text-decoration: none;
                    color: $color-texto-primario;
                    width: 100%;
                    button{
                        width: 100%;
                        padding: 8px;
                        border-radius: 10px;
                        outline: none;
                        border: none;
                    }
                }
                
            }
        }
    }
}

#contactame{
    margin-top:5rem;
    padding:0px 1.8rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin:auto;
    
    @include res(lg){
        padding:0px 4rem;
        width: 50%;
    }
    &>div{
        border: solid $color-texto-secundario 1px;
        padding: 1.5rem;
        border-radius: 15px;
        p{
            color:$color-texto-primario;
            font-size: 2rem;
            text-align: center;
        }
    }
    &>div>div{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
        }
        button{
            margin: 1rem;
            padding:1rem;
            border: none;
            outline: none;
            border-radius: 5px;
            background: #FF416C;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ad000696, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ad00067b, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    }
}
#pie{
    color: white;
    font-size: 1.2rem;
    padding: 2.4rem 0px;
    background-color: #1c1c1c;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    ul{
        padding: 0px 2rem;
        position:relative;
        list-style: none;
        margin: 1rem 4rem;
        width: 100%;
        @include res(lg){
            width: auto;
            margin: 0px 4rem;
        }
        li.center{
            font-weight: bolder;
            text-align: center;
            margin: 25px;
        }
        a{
            text-decoration: none;
            color:white;
        }
        &:after{
            @include res(lg){
                top: 0px;
                left: 0px;
                background-color: white;
                content: "";
                display: inline-block;
                position: absolute;
                height: 180px;
                width: 1px;
            }
            
        }
        
        &:before{
            @include res(lg){
                top: 0px;
                right: 0px;
                background-color: white;
                content: "";
                display: inline-block;
                position: absolute;
                height: 180px;
                width: 1px;
            }
            
        }
    }
}